* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font: normal 18px sans-serif;
    
}
.underlink:hover {
    text-decoration: underline;
}
.underlink:link, .underlink:active, .underlink:visited{
    color:white;
}
.name:link,.name:active, .name:visited{
    color:white;
}

.linkBox:link,
a:visited {
    background-color: #ffffff;
    color: #0711F2;
    border-style: solid;
    border-color: #0711F2;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.linkBox:hover,
.linkBox:active {
    background-color: #0711F2;
    color: white;
}
.content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font: normal 18px sans-serif;
    color: black;
}
.project_description {
    background-color: rgba(125, 125, 125, 0.7);
    padding: 20px;
    color:white;
}

/*navbar begins*/

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navbar ul li {
    display: inline-block;
    padding-top: 15px;
}
#navbar ul li:first-child {
    padding-right: 20px;
}
#navbar ul li:active ul {
    display: block;
}
#navbar ul li ul {
    display: none;
    z-index: 1;
}
#navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: rgba(125, 125, 125, 0.7);
    text-align: right;
    padding-right: 10px;
}

/*navbar ends*/

.module_landing {
    height: 100Vh;
    background-image: url("../images/spider_web.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}
.module_description {
    height: 100Vh;
}
.module_p1 {
    height: 50Vh;
    /*image doesnt resize well when you manually stretch the window*/
    background-image: url("../images/for_your_spies_only.JPG");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}
.module_p2 {
    height: 50Vh;
    background-image: url("../images/quote_through.png");
    background-size: cover;
    /*    background-repeat: no-repeat;*/
    /*    Need to resize image for web*/
    background-position: center center;
}
.module_p3 {
    height: 50Vh;
    background-image: url("../images/icff.jpg");
    background-size: cover;
    background-position: center center;
}
.module_quote {
    height: 50Vh;
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-position: center center;
}
.module_footer {
    height: 20Vh;
}

/*below is web*/

@media (min-width: 480px) {
    #navbar ul li:first-child {
        padding-right: 300px;
        text-align: right;
    }
}
@media (min-width: 760px) {
    #navbar ul li:first-child {
        padding-right: 600px;
        text-align: right;
    }
}
@media screen and (min-width: 980px) {
    /*    nav bar right links*/
    #navbar ul li:first-child {
        padding-right: 50%;
    }
    .module_landing {
        height: 100Vh;
    }
    .module_description {
        height: 100Vh;
    }
    .module_p1 {
        height: 100Vh;
        width: 70%;
        float: left;
    }
    .module_p2 {
        height: 50Vh;
        width: 30%;
        float: right;
    }
    .module_p3 {
        height: 50Vh;
        width: 30%;
        float: right;
    }
    .module_quote {
        height: 100Vh;
        clear: both;
    }
    #navbar ul li:first-child {
        padding-right: 1000px;
        text-align: left;
    }
    #navbar ul li {
        display: inline-block;
        padding-left: 15px;
    }
    #navbar {
        padding-right: 100px;
    }
}

/*footer begins*/

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
}
.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}
.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*footer ends*/


/*for the footer*/

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }
    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }
    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }
    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}
