* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font: normal 18px sans-serif;
}
.underlink:hover {
    text-decoration: underline;
}
.underlink:link, .underlink:active, .underlink:visited{
    color:white;
}
.name:link,.name:active, .name:visited{
    color:white;
}
.linkBox:link,
a:visited {
    background-color: #ffffff;
    color: #0711F2;
    border-style: solid;
    border-color: #0711F2;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.linkBox:hover,
.linkBox:active {
    background-color: #0711F2;
    color: white;
}

/*navbar begins*/

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navbar ul li {
    display: inline-block;
    padding-top: 15px;
}
#navbar ul li:first-child {
    padding-right: 20px;
}
#navbar ul li:active ul {
    display: block;
}
#navbar ul li ul {
    display: none;
    z-index: 1;
}
#navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: rgba(125, 125, 125, 0.7);
    text-align: right;
    padding-right: 10px;
}

/*navbar ends*/

.content {
    /*    change font family*/
    text-align: center;
    position: relative;
    transform: translateY(30%);
    clear: both;
    font: normal 18px sans-serif;
    color: black;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /*16: 9 */
    padding-top: 25px;
    padding-left: 50%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.project_description {
    position: relative;
    padding: 20px;
}

/*below is web*/
@media (min-width: 480px) {
    #navbar ul li:first-child {
        padding-right: 300px;
        text-align: right;
    }
}
@media (min-width: 760px) {
    #navbar ul li:first-child {
        padding-right: 600px;
        text-align: right;
    }
    .project_description {
        transform: translateY(20%);
    }
}
@media screen and (min-width: 980px) {
    /*    nav bar right links*/
    #navbar ul li:first-child {
        padding-right: 50%;
    }
    .content {
        height: 30Vh;
        transform: translateY(25%);
    }
    .videoWrapper iframe {
        width: 50%;
        height: 50%;
        left: 25%;
    }
    .project_description {
        position: relative;
        transform: translateY(-600%);
    }
    #navbar ul li:first-child {
        padding-right: 1000px;
        text-align: left;
    }
    #navbar ul li {
        display: inline-block;
        padding-left: 15px;
    }
    #navbar {
        padding-right: 100px;
    }
}

/*footer begins*/

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 30%;
    transform: translateY(90%);
}
.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}
.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*footer ends*/


/*for the footer*/

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }
    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }
    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }
    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}
