* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.underlink:hover {
    text-decoration: underline;
}
.linkBox:link,
a:visited {
    /*    When doing effects, when hover...make a box fill in with colour*/
    background-color: #ffffff;
    color: #0711F2;
    border-style: solid;
    border-color: #0711F2;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.linkBox:hover,
.linkBox:active {
    background-color: #0711F2;
    color: white;
}

/*navbar begins*/

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navbar ul li {
    display: inline-block;
}
#navbar ul li:first-child {
    padding-right: 10%;
}
#navbar ul li:active ul {
    display: block;
}
#navbar ul li ul {
    display: none;
    z-index: 1;
}
#navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: rgba(125, 125, 125, 0.5);
}

/*navbar ends*/

.content {
    /*    change font family*/
    text-align: center;
    position: relative;
    transform: translateY(25%);
    clear: both;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;  16:9 
    padding-top: 25px;
    padding left:50%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}
/*
.media {
    position: relative;
    transform: translateY(50%);
    clear: both;
}
*/

.project_description{
    position:relative;
    clear:both;
/* transform: translateY(-500%);   */
}

/*below is web*/

@media screen and (min-width: 980px) {
    /*    nav bar right links*/
    #navbar ul li:first-child {
        padding-right: 50%;
    }
    .content {
        height: 30Vh;
    }
    .videoWrapper iframe {
    width: 50%;
    height: 50%;
}
}

/*footer begins*/

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 30%;
}
.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}
.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*footer ends*/


/*for the footer*/

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }
    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }
    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }
    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}
